.App {
  background-color: rgb(35, 34, 36);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.keyboard {
  display: flex;
  gap: .2rem;
}

.keyboard .key {
  text-align: center;
  min-width: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.keyboard .key:disabled {
  background-color: #303030;
  color: rgb(121, 121, 121);
  cursor: not-allowed;
}

.guessed-word {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  display: flex;
  gap: .5rem;
}

.guessed-word .letter {
  background-color: transparent;
  color: white;
  width: fit-content;
  text-align: center;
  box-shadow: none;
}